<html>
	<head>
		<!-- css files -->
		<link rel='stylesheet' href='bootstrap/dist/css/bootstrap.css' />
		<!-- core app files -->
		<script src='/angular/angular.js'></script>
		<script src='/angular-ui-router/release/angular-ui-router.js'></script>
		<script src='./app.js'></script>
		<script src='/services/AuthService.js'></script>
		<script src='/services/GroupService.js'></script>
		<script src='/services/UserService.js'></script>

	</head>

	<div ng-app='app' class='container'>
		<ul class='nav nav-tabs'>
			<li role='presentation' ui-sref-active='active'> <a ui-sref='home'> Home </a> </li>
			<li ng-if="user.id" role='presentation' ui-sref-active='active'> <a ui-sref='settings'> Settings </a> </li>
			<li ng-if="user.id" role='presentation' ui-sref-active='active'> <a ng-click="logout()" ui-sref='settings'> Settings </a> </li>
			<li ng-if="!user.id" role='presentation' ui-sref-active='active'> <a ui-sref='login'> Login </a> </li>
		</ul>
		<ui-view></ui-view>
	</div>
</html>
